<div class="content">
  <img src="../../../../assets/images/auth/logo.jpg" alt="">
  <h4 class="title">Reset your password</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
    <button [disabled]="form.invalid" type="submit">Send Password</button>
  </form>
</div>

